/db.sqlite3
/mysite/local_settings.py
*.log
*.pyc
/sync.ffs_db
/.dropbox
/.vscode
src/
.cache/
env/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
