Django>=1.11.7
requests>=2.18.4
matplotlib>=2.1.0
numpy>=1.13.3
blosc>=1.5.1
tifffile>=0.12.1
-e git+https://github.com/jhuapl-boss/django-oidc.git#egg=django-oidc
-e git+https://github.com/jhuapl-boss/drf-oidc-auth.git#egg=drf-oidc-auth
-e git+https://github.com/jhuapl-boss/boss-oidc.git#egg=boss-oidc