{% extends 'synaptogram/base.html' %}
{% block content %}
<div style='float:left'>
<p>
    ↑
    <a href="{% url 'synaptogram:coll_list' %}">
        Collections</a>
    |
    <a href="{% url 'synaptogram:exp_list' coll %}">
        Experiments</a>
    |
    <a href="{% url 'synaptogram:cutout' coll exp %}">
        Channels</a>
</p>

<h3>Channel detail</h3>

{% include 'synaptogram/coll_link.html' %}
{% include 'synaptogram/exp_link.html' %}
{% include 'synaptogram/channel_link.html' %}

<p>
    <strong>Type:</strong>
    {{channel_props.type}}
</p>

<p>
    <strong>Datatype:</strong>
    {{channel_props.datatype}}
</p>

<p><strong>NDViz:</strong>
    <a href="{{ ndviz_url }}" target="_blank">link</a>
</p>


<p><strong>Downsample status:</strong>
    {{ channel_props.downsample_status }}
    {% if channel_props.downsample_status == 'NOT_DOWNSAMPLED' %}
        <button onclick="myFunction()">Downsample</button>

        <span id="downsample"></span>

        <script>
        function myFunction() {
            var txt;
            if (confirm("Downsampling a channel can take a long time. We do not recommend downsampling more than one channel at a time.") == true) {
                txt = "<a href=\"{% url 'synaptogram:start_downsample' coll exp channel %}\">Start Downsample Job</a>";
            } else {
                txt = "";
            }
            document.getElementById("downsample").innerHTML = txt;
        }
        </script>

    {% elif channel_props.downsample_status == 'IN_PROGRESS' %}
            <button onclick="myFunction()">Cancel downsample job</button>

            <span id="downsample"></span>

            <script>
            function myFunction() {
                var txt;
                if (confirm("Canceling a downsample job will reset it's status to NOT_DOWNSAMPLED. Downsampling will have to be restarted from the beginning.") == true) {
                    txt = "<a href=\"{% url 'synaptogram:stop_downsample' coll exp channel %}\">Stop Downsample Job</a>";
                } else {
                    txt = "";
                }
                document.getElementById("downsample").innerHTML = txt;
            }
            </script>
    {% endif %}
</p>

<p><strong>Permissions:</strong>
<ul>
    {% for p in permissions %}
        <li>
            <strong>Group:</strong> {{p.group}} (<a href="https://api.boss.neurodata.io/v1/mgmt/group/{{p.group}}" target="_blank">manage</a>)<br>
            <strong>Permissions:</strong>
            <ul>
            {% for p_g in p.permissions %}
                <li>{{p_g}}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</p>
</div>

<div class='exp_metadata' style='margin-top:15px; padding-left:20px; padding-right:20px'>
    {% include 'synaptogram/avatr.html' %}
</div>

{% endblock %}
