{% extends 'synaptogram/base.html' %}
{% block content %}


<script language="JavaScript">
    function toggle(source, checkboxes_name) {
        checkboxes = document.getElementsByName(checkboxes_name);
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>


<p>
    ←
    <a href="{% url 'synaptogram:exp_list' coll %}">
        Back
    </a>
</p>

<h2>Experiment Detail</h2>

{% include 'synaptogram/coll_link.html' %} 
{% include 'synaptogram/exp_link.html' %}

<a href="{% url 'synaptogram:ndviz_url' coll exp%}" target="_blank">NDViz</a> for all channels 

{% if channels|length > 3 %} (all but the first 3 disabled) {% endif %} 

{% include 'synaptogram/coord_frame_detail.html' %}

<p>
    <span class='bold'>Channels:</span>
    <ul>
        {% for ch in channels %}
        <li>
            <a href="{% url 'synaptogram:channel_detail' coll exp ch %}">{{ch}}</a>
            (<a href="{% url 'synaptogram:ndviz_url' coll exp ch%}" target="_blank">NDViz</a>)
        </li>
        {% endfor %}
    </ul>
</p>

<h3>Cutout:</h3>

<form action="{% url 'synaptogram:cutout' coll exp %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <div class="fieldWrapper">
                {{ form.x_min.errors }}
                <td>{{ form.x_min.label_tag }}

                </td>

                <td>{{ form.x_min }}</td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.x_max.errors }}
                <td>{{ form.x_max.label_tag }}</td>
                <td>{{ form.x_max }}</td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.y_min.errors }}
                <td>{{ form.y_min.label_tag }}</td>
                <td>{{ form.y_min }}</td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.y_max.errors }}
                <td>{{ form.y_max.label_tag }}</td>
                <td>{{ form.y_max }}</td>
            </div>
        </tr>


        <tr>
            <div class="fieldWrapper">
                {{ form.z_min.errors }}
                <td>{{ form.z_min.label_tag }}</td>
                <td>{{ form.z_min }}</td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.z_max.errors }}
                <td>{{ form.z_max.label_tag }}</td>
                <td>{{ form.z_max }}</td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.channels.errors }}
                <td>{{ form.channels.label_tag }}</td>
                <td>
                    <label for="toggle_ch_checkbox">
                        <input type="checkbox" onClick="toggle(this, 'channels' )" 
                        id="toggle_ch_checkbox" checked/> 
                        Toggle channels
                    </label><br>
                    {{ form.channels }}
                </td>
            </div>
        </tr>

        <tr>
            <div class="fieldWrapper">
                {{ form.endpoint.errors }}
                <td>{{ form.endpoint.label_tag }}</td>
                <td>
                <ul id="id_endpoint">
                {% for radio in form.endpoint %}
                    <li>
                        {{ radio }}
                        {% if radio.choice_label == 'Download TIFF stack per channel' %}
                            at {{ form.res_select.label_tag }}
                            {{ form.res_select }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                </td>
            </div>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}