{% extends 'synaptogram/base.html' %} 
{% block content %}


<p>
    ↑
    <a href="{% url 'synaptogram:coll_list' %}">
        Collections</a>
</p>

<h3>Experiment list</h3>

{% include 'synaptogram/coll_link.html' %}

<ul>
    {% for exp in experiments %}
    <li>
        <a href="{% url 'synaptogram:cutout' coll exp %}">{{exp}}</a>
        (<a href="{% url 'synaptogram:ndviz_url' coll exp%}" target="_blank">NDViz</a>)
        (<a href="https://api.boss.neurodata.io/v1/mgmt/resources/{{coll}}/{{exp}}" target="_blank">manage</a>)
    </li>
    {% endfor %}
</ul>

{% endblock %}