{% extends 'synaptogram/base.html' %}
{% block content %}

<h1>Welcome to NeuroData web tools</h1>

<p>
This application provides web services for <a href="https://neurodata.io" target="_blank">NeuroData</a>
</p>

<p>Current features:
    <ul>
        <li>TIFF image cutouts for imaging data</li>
        <li>links to <a href="https://viz.boss.neurodata.io/" target="_blank">NeuroDataViz</a> specific to data resources</li>
        <li>bookmarklet to navigate from NeuroDataViz to the image cutout form</li>
        <li>integration with NeuroData's data ingest</li>
        <li>exploratory data analysis/visualization</li>
    </ul>
</p>

<h2>
<a href="{% url 'synaptogram:coll_list' %}">
    {% if user.is_authenticated %}
        List collections
    {% else %}
        Login
    {% endif %}
</a>
</h2>

{% endblock %}