{% extends 'synaptogram/base.html' %}
{% block content %}

<h3>NeuroData web tools</h3>

<p>
Providing web services for <a href="https://neurodata.io" target="_blank">NeuroData</a>
</p>

<h4>Features:</h4>
    <ul>
        <li>TIFF image cutouts</li>
        <li>Links to <a href="https://viz.boss.neurodata.io/" target="_blank">NeuroDataViz</a></li>
        <li>Bookmarklet to navigate from NeuroDataViz to the image cutout form</li>
        <li>Integration with NeuroData's data ingest</li>
        <li>Exploratory data analysis/visualization</li>
    </ul>

<a class="button" href="{% url 'synaptogram:coll_list' %}">
    {% if user.is_authenticated %}
        List collections
    {% else %}
        Login
    {% endif %}
</a>

{% endblock %}